<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592367397991-me8c1cpqjv77h12ocpdr31dfvdrp973h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592367397991-me8c1cpqjv77h12ocpdr31dfvdrp973h</string>
	<key>API_KEY</key>
	<string>AIzaSyDl5_XWiPG8dFphBqNSOgfjKt4sohhEXmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592367397991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f.iori1002.FoodTinderApp</string>
	<key>PROJECT_ID</key>
	<string>foodtinderapp-7ef19</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtinderapp-7ef19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592367397991:ios:edd3442aa2563afc0638c2</string>
</dict>
</plist>